streamlit
langchain
langchain-community
langchain-groq
langchain-core
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
python-dotenv
langsmith
langfuse
langgraph
mcp
uvicorn
ddgs
deepeval